{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>About Page</h1>
    
    {% if is_granted('ROLE_ADMIN') %}
        <textarea class="tinymce"></textarea>
        {{ tinymce_init() }}
    {% endif %}
{% endblock %}